*{
    box-sizing: border-box;
}

#container{
    border: 1px solid red;
    width: 100%;
    height: auto;
}
header{
    height: 145px;
    border: 1px solid blue;
}
figure{
    float: left;
    margin: 10px;
}
#foto{
    width: 200px;
    height: 130px;
}
main{
    width: 100%;
    height: auto;
   
}
#titulo{
    margin-right: 40px;
    padding-top: 20px;
    text-align: center;
}
#outrotitulo{
    padding-left: 20px; 
}
.grupo{
    width: 50%;
    height: 140px;
}
#grupo1{
    float: left;
}
#grupo2{
    float: right; 
}
#grupo3{
    float: left;
}
#grupo4{
    float: right;      
}

.box{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    text-align: center;
    padding-top: 35px;
    font-size: 20px;
    font-weight: bold;
}   
#gitbox { 
     
    width: 100%; 
    padding-left: 10px;
}
.clear { 
    clear: both; 
}
.ligado{
    background-color: green;
}
.desligado{
    background-color: red;
}
p{
    
    float: left;
    margin: 15px;
    padding: 30px;

}